<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="date" class="java.util.Date" factory-method="getDateTimeInstance" scope="prototype"/>
    <bean id="eventLogger" class="com.spring.practice.ConsoleEventLogger"/>
    <bean id="client" class="com.spring.practice.Client"
          c:id="1"
          c:fullName="Vasya"/>
    <bean id="app" name="Application" class="com.spring.practice.App"
          c:client-ref="client"
          c:logger-ref="eventLogger"/>
    <bean id="event" class="com.spring.practice.Event" scope="prototype"
          c:date-ref="date"/>

</beans>