<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"

       default-lazy-init="true">

    <import resource="loggers.xml"/>
    <import resource="clients.xml"/>

    <bean id="date" class="java.util.Date" factory-method="from" scope="prototype">
        <constructor-arg>
            <bean class="java.time.Instant" factory-method="now"/>
        </constructor-arg>
    </bean>
    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance" scope="prototype"/>
    <bean id="event" class="com.spring.practice.Event" scope="prototype"
          c:date-ref="date"
          c:df-ref="dateFormat"/>

    <bean id="app" name="Application" class="com.spring.practice.App">
        <constructor-arg name="loggers">
            <map>
                <entry key="INFO" value-ref="consoleLogger"/>
                <entry key="ERROR" value-ref="combinedLogger"/>
            </map>
        </constructor-arg>
        <constructor-arg name="clients">
            <list>
                <ref bean="client1"/>
                <ref bean="client2"/>
                <ref bean="client3"/>
            </list>
        </constructor-arg>
        <constructor-arg name="defaultLogger">
                <ref bean="fileLogger"/>
        </constructor-arg>
    </bean>

</beans>